<!--The content below is only a placeholder and can be replaced.-->
 <!-- <form [formGroup]="myForm">
  <input type="text" formControlName="name">
</form>  -->

<h3>Reactive Form</h3>
<p *ngIf="isValidFormSubmitted && userForm.pristine" [ngClass] = "'success'">
    Form submitted successfully.
</p>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">

	 <label>name</label><input type="text" formControlName="uname">
		   <div *ngIf="userForm.get('uname').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
			
		   </div>	
			<br> <br>
	<div>
      <label>Select state</label>
      <select formControlName="state">
        <option *ngFor="let state of states"  [value]="state.value">{{state.stateName}}  
        </option>
      </select>
     </div>
	<br> <br>

   <label>Gender</label>
	    <input type="radio" value="male" formControlName="gender"> Male
        <input type="radio" value="female" formControlName="gender"> Female
		 <div *ngIf="userForm.get('gender').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
		 </div>		 
		 <br>	 	<br>

	<div class="statusClass">
	    <label>Are You Married ?</label>
		 <!-- <input type="checkbox" formControlName="married"> -->
			    <input type="radio" value="yes" formControlName="status"> married
                 <input type="radio" value="no" formControlName="status"> un-Married
		 <div *ngIf="userForm.get('status').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
		 </div>
		</div>
		 <div >
		 <label *ngIf="userForm.get('status').value == 'yes'" >No of child</label> <input type="text" FormControlName="child" *ngIf="userForm.get('status').value == 'yes'" >
		</div>
		  <br>	 	<br>
				
	  <label>Accept T and C</label>
	      <input type="checkbox" formControlName="tc">
		  <div *ngIf="userForm.get('tc').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
		   </div>		 
	  
		 <br>	 	<br>

		<button type="submit" class="btn btn-default"
             [disabled]="!userForm.valid">Submit</button><br>
	          <!-- <div class="submit"><button disabled>Submit</button></div>	 	<br> -->
		  <button type="button" (click)="setDefaultValues()">Set Default</button>	 	
		  <button type="button" (click)="reset()">Reset</button>		  	 	<br>
	  
	   
 
</form>

<app-form [config]="formConfig"></app-form>